@font-face {
  font-family: "icons";
  src: url("../fonts/icons/icons.eot?d8iol");
  src: url("../fonts/icons/icons.eot?d8iol#iefix") format("embedded-opentype"),
    url("../fonts/icons/icons.ttf?d8iol") format("truetype"),
    url("../fonts/icons/icons.woff?d8iol") format("woff"),
    url("../fonts/icons/icons.svg?d8iol#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-th-menu:before {
  content: "\e901";
}
.icon-arrow-left1:before {
  content: "\e900";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-play2:before {
  content: "\ea15";
}
.icon-stop:before {
  content: "\ea17";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-pinterest2:before {
  content: "\ead2";
}

* {
  margin: 0;
  padding: 0;
}
.slider {
  max-width: 100%;
  position: relative;
  margin: auto;
  height: 100vh;
  display: flex;
}
.items {
  display: none;
  overflow: hidden;
}
.items img {
  max-width: 100%;
  width: 100vw;
  height: 100vh;
  display: block;
  object-fit: cover;
}

.numText {
  position: absolute;
  top: 15px;
  transform: translate(-50%, 50%);
  color: #fff;
  left: 50%;
  font-size: 36px;
}

.arrows {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.prev,
.next {
  cursor: pointer;
  color: #fff;
  font-size: 60px;
  width: auto;
  margin-top: -22px;
  padding: 0 16px;
  transition: all 0.6s;
}

.next {
  right: 0;
}

.prev:hover,
.next:hover {
  color: #51a7b8;
}

.dots__title {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.dot {
  cursor: pointer;
  width: 13px;
  height: 13px;
  margin: 0 2px;
  background-color: transparent;
  display: inline-block;
  transition: all 0.6s ease;
  border-radius: 50%;
  border: 2px solid #fff;
}
.buttons button {
  margin-right: 20px;
  background-color: transparent;
  border: none;

  cursor: pointer;
}
.buttons button i {
  font-size: 30px;
  color: #fff;
}

.arrow {
  position: absolute;
  top: 60px;
  left: 15px;
}
.arrow a {
  color: #fff;
  text-decoration: none;
  font-size: 30px;
}
.active,
.dot:hover {
  background-color: #a44bc1;
  border-color: #fff;
}
