@font-face {
  font-family: "icons";
  src: url("../fonts/icons/icons.eot?d8iol");
  src: url("../fonts/icons/icons.eot?d8iol#iefix") format("embedded-opentype"),
    url("../fonts/icons/icons.ttf?d8iol") format("truetype"),
    url("../fonts/icons/icons.woff?d8iol") format("woff"),
    url("../fonts/icons/icons.svg?d8iol#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-th-menu:before {
  content: "\e901";
}
.icon-arrow-left1:before {
  content: "\e900";
}
.icon-arrow-left:before {
  content: "\ea38";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-pinterest2:before {
  content: "\ead2";
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #fff;
  font-family: "Lato", sans-serif;
  /*font-family: 'Lobster', cursive;*/
}

a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

#header {
  background: url(../img/bg-header.jpeg) no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
  color: #fff;
}
.menu__btn {
  display: none;
}
.header__menu {
  width: 100%;
  min-height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  z-index: 1;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav a {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 10px;
  border: 2px solid transparent;
  padding: 10px 15px;
  border-radius: 8px;
  transition: all 0.3s;
  cursor: pointer;
}
nav .active {
  border: 2px solid #548dd4;
  padding: 10px 15px;
  border-radius: 8px;
  transition: all 0.3s;
}

nav li:hover a {
  border-color: #548dd4;
}

.header__menu img {
  width: 60px;
}

.header__title {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-text {
  font-size: 36px;
  font-weight: bold;
  color: #cc005f;
  text-transform: uppercase;
}

.header__title-text {
  font-size: 80px;
  font-family: "Lobster", cursive;
  overflow: hidden;
  margin: 30px auto;
  white-space: nowrap;
  letter-spacing: 0.15em;
  text-align: center;
  animation: animated-text 2.5s steps(30, end) 1s 1 normal both;
}

.header__btn {
  transition: all 0.6s;
}

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.spec p {
  display: inline-block;
  border-left: 1px solid #fff;
  font-size: 20px;
  padding: 0 15px;
}
.spec p + p {
  border-right: 1px solid #fff;
  margin-top: 10px;
}

.header__btn {
  margin-top: 70px;
  cursor: pointer;
  border: 3px solid rgb(255, 255, 255, 0.3);
  border-radius: 5px;
  width: 230px;
  height: 70px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;
  transition: all 0.3s;
}

.header__btn:hover {
  background-color: #548dd4;
  border-color: #548dd4;
}

.soc {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.soc i {
  font-size: 30px;
  padding: 0 15px;
  transition: all 0.3s;
}

.soc i:hover {
  color: #548dd4;
}

@media screen and (max-width: 920px) {
  .header__title-text {
    font-size: 50px;
  }
}

@media screen and (max-width: 620px) {
  .header__title-text {
    font-size: 30px;
  }
  .title-text {
    font-size: 20px;
  }
  .spec p {
    border-right: 1px solid #fff;
  }
}

/*about*/

#about {
  padding: 150px 0;
  background: url(../img/bg7.jpg) no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  display: block;
  color: #fff;
}

.about__title {
  display: flex;
  justify-content: space-between;
}

.about__inner {
  width: calc(50% - 20px);
}

.about__info {
  display: flex;
  justify-content: space-between;
  height: 200px;
  margin-bottom: 50px;
}

.about__info img {
  width: 200px;
  height: 200px;
  border-radius: 5%;
}

.about__descr span {
  font-size: 20px;
  font-weight: bold;
}

.about__descr {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
.about__descr p {
  font-size: 18px;
}

.about__skills h4 {
  font-size: 25px;
  margin-bottom: 20px;
}

.about__skill-name {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 5px 0;
}

progress {
  display: block;
  width: 100%;
  height: 25px;
}
.inner__text {
  font-size: 40px;
  margin-bottom: 40px;
}
.inner__text::after {
  content: "";
  width: 15%;
  height: 3px;
  background-color: #548dd4;
  display: block;
  margin-top: 15px;
}

.about__text {
  font-size: 22px;
  margin-bottom: 20px;
}

/*contact*/

#contact {
  background: url(../img/bg2.jpg) no-repeat center center;
  background-size: cover;
  min-height: 600px;
  height: 100vh;
  background-attachment: fixed;
  padding: 150px 50px;
  position: relative;
}

.contact__title {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 50px;
  border-radius: 10px;
}

.contact__inner {
  width: 48%;
}

.contact__inner form {
  display: flex;
  flex-direction: column;
}

.contact__inner input,
.contact__inner textarea {
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  transition: all 0.5s;
}
.contact__inner input:focus,
.contact__inner textarea:focus {
  border: 2px solid #548dd4;
  outline: none;
}

.contact__inner textarea {
  height: 100px;
  resize: none;
}

.contact__btn {
  padding: 15px 30px;
  background-color: #548dd4;
  font-size: 20px;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;

  transition: all 0.3s;
}

.contact__btn:hover {
  background-color: #295b98;
}

.contact__inner p + p {
  margin-top: 30px;
}
footer {
  background-color: #000;
  padding: 30px 0;
}
.copyR {
  text-align: center;
  color: #fff;
  font-size: 20px;
  width: 320;
  margin: 0 auto;
}

@media screen and (max-width: 992px) {
  .about__title {
    display: block;
    padding: 30px;
  }
  .about__inner {
    width: 100%;
  }
  .about__skills {
    width: 90%;
  }
  .about__inner img {
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .about__inner-info {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 760px) {
  #about {
    padding: 60px 0;
  }
  #contact {
    padding: 20px 0;
  }
  .about__info {
    display: block;
    height: 100%;
  }
  .about__descr p {
    margin-bottom: 20px;
  }
  .about__descr {
    width: 300px;
    margin-top: 20px;
  }
  .cotact__title {
    height: auto;
    display: block;
  }
  .contact__inner {
    width: 100%;
    margin-bottom: 20px;
  }
  .contact__btn {
    text-align: center;
  }
  .inner__text {
    font-size: 30px;
  }
  .cotact__title {
    padding: 10px 30px;
  }
}

@media screen and (max-width: 600px) {
  .menu__btn {
    display: block;
    font-size: 50px;
    background: transparent;
    color: #fff;
    border: none;
    padding-right: 50px;
    cursor: pointer;
  }
  .about__text {
    font-size: 14px;
    text-align: justify;
  }
  .contact__inner p {
    text-align: justify;
  }

  .about__inner-info {
    display: block;
  }
  .about__inner img {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .about__descr {
    text-align: center;
    width: 100%;
  }
  .about__skills {
    width: 100%;
    margin-bottom: 30px;
  }
  .contact__title {
    display: block;
  }

  nav {
    position: absolute;
    top: 89px;
    height: 100vh;
    background: rgb(34 32 32 / 95%);
    right: -215px;
    width: 215px;

    transition: all 0.3s;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
    height: 40vh;
    margin-top: 50px;
  }
  nav ul li {
    width: 100%;
    text-align: center;
  }
  .header__menu img {
    margin-left: 50px;
  }
  .navBar {
    right: 0;
  }

  .soc {
    left: 45%;
    transform: translateX(-45%);
  }

  .spec {
    display: flex;
    flex-direction: column;
  }
}
