@font-face {
  font-family: "icons";
  src: url("../fonts/icons/icons.eot?d8iol");
  src: url("../fonts/icons/icons.eot?d8iol#iefix") format("embedded-opentype"),
    url("../fonts/icons/icons.ttf?d8iol") format("truetype"),
    url("../fonts/icons/icons.woff?d8iol") format("woff"),
    url("../fonts/icons/icons.svg?d8iol#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-arrow-left1:before {
  content: "\e900";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
}

#main {
  padding: 0 10px;
  max-width: 500px;
  margin: 0 auto;
}

#main h1{
	margin: 20px 0 0 25%;
}

.tetris {
  margin-top: 20px;
	margin-right: 30px;
	width: 270px;
	height: 520px;
  border: 10px solid dimgrey;
  font-size: 0;
}


.block {
  width: 25px;
  height: 25px;
  display: inline-block;
  /*border: 1px solid rgb(145, 115, 115);*/
  box-shadow: -2px -2px 7px 0px; /*-3px -2px 10px 0*/
}
.movingBlock {
  background-color: #FF3213;
}

.fixedBlock {
  background-color: #0341AE;
}

.tet__score,
.tet__level {
  color: #fff;
  font-size: 30px;
}

.tetris__title {
  display: flex;
  position: relative;
}

.game__info {
  margin-top: 15px;
}

.nextBlock  {
  border: 2px solid transparent;
  font-size: 0;
  width: 124px;
  height: 123px;
  margin-top: 30px;
}

.game__over,.pause {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 10%;
  /*transform: translateX(-27%);*/
  font-size: 35px;
  opacity: 0;
  transition: all 0.5s;
}

.pause{
	left: 18%;
}
.buttons {
	display: flex;
flex-direction: column;
}
.buttons button {
  margin-bottom: 10px;
  padding: 10px 20px;
  height: 40px;
  cursor: pointer;
}


.cGreen{
	background-color:green'
}

.arrow {
	position: absolute;
	left: 15%;
	display: none;
}

.arrow a{
	font-size: 55px;
color: #fff;
text-decoration: none;
display: block;
}